<div class="container mx-auto bg-slate-300 h-20 flex w-full">
  <div class="flex items-center justify-between w-full">
    <a href="/" class="flex items-center">
      <!-- TODO: add logo -->
      <!-- <span href="/" class="mr-2">
        <img src="/assets/img/logo.svg" alt="add logo">
      </span> -->
      <p class="hidden font-body text-3xl font-bold text-primary dark:text-white lg:block ml-8">
        Story
      </p>
    </a>
    <div class="flex items-center lg:hidden sm:mr-4">
      <svg width="24" height="15" xmlns="http://www.w3.org/2000/svg" onclick="toggleMobileMenu()" class="fill-current text-primary dark:text-white">
        <g fill-rule="evenodd">
          <rect width="24" height="3" rx="1.5"></rect>
          <rect x="8" y="6" width="16" height="3" rx="1.5"></rect>
          <rect x="4" y="12" width="20" height="3" rx="1.5"></rect>
        </g>
      </svg>
    </div>
    <!-- TODO: fix mobile menu to be a dropdown -->
    <div class="hidden md:flex-col lg:flex " id="mobile-menu">
      <ul class="flex items-center" id="item-list">
        
        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
          <a href="/" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Home</a>
        </li>
        
        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
          <a href="/upload" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Upload</a>
        </li>
        
        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
          <a href="/search" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Search</a>
        </li>
        
        <% if (loggedIn) { %>
        <li class="group relative mr-6 mb-1">
          <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
          <a href="/profile" class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">
            <!-- Make profile pic dynamic to user -->
            <img class="h-8 w-8 rounded-full object-cover" src="../icons/defaultUser.svg" alt="">
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<script>
  function toggleMobileMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    const itemList = document.getElementById("item-list");
    if (mobileMenu.classList.contains("hidden")) {
      mobileMenu.classList.remove("hidden");
      mobileMenu.classList.add("block");
    } else {
      mobileMenu.classList.remove("block");
      mobileMenu.classList.add("hidden");
    }
  }
</script>
