@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-4xl;
}

.input-with-plus-icon {
    padding-right: 2.5rem; /* Extra padding on the right to fit the icon */
    background-image: url('./icons/plus-symbol.svg'); /* Adjust to the path of your SVG file */
    background-repeat: no-repeat;
    background-size: 1.25rem; /* Adjust the size of the icon here */
    background-position: calc(100% - 1rem) center; /* Position the icon within the input */
    cursor: pointer;
}

:root {
    --royal-purple: #9a72c6;
    --violet-blaze: #b377d6;
    --lavender-haze: #c9a3df;
    --lilac-mist: #ebe1f2;
    --golden-glow: #ffe078;
}

.dark {
    --royal-purple: #7e22ce;
    --violet-blaze: #8d43ad;
    --lavender-haze: #a66abe;
    --lilac-mist: #d2b5de;
    --golden-glow: #f1c40e;
}

.disabled-form {
    opacity: 0.5;
    pointer-events: none;
}