<div class="flex flex-col items-center justify-center">
    <% if (register) { %> 
        <h1 class="pb-4">Register</h1>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-4 mb-4 flex flex-col" onsubmit="register(event)">
			<div class="mb-4">
				<label class="block text-grey-darker text-sm font-bold mb-2" for="email">
					Email
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="email" placeholder="johndoe@example.com">
			</div>
            <div class="mb-4">
				<label class="block text-grey-darker text-sm font-bold mb-2" for="username">
					Username
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="password" type="password" placeholder="******************">
            </div>
            <div class="">
				<label class="block text-grey-darker text-sm font-bold mb-2" for="confirm-password">
					Confirm Password
				</label>
				<input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="confirm-password" type="password" placeholder="******************">
            </div>
            <div class="flex h-8 items-center justify-center">
				<button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
					Sign up
				</button>
            </div>
        </form>
    <% } else { %>
        <h1 class="pb-4">Login</h1>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-4 mb-4 flex flex-col" onsubmit="login(event)">
            <div class="mb-4">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Username
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
            </div>
            <div class="">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
              <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                Sign In
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#" onclick="alert('Sorry, but, no~')">
                Forgot Password?
              </a>
            </div>
        </form>
    <% } %>
</div>

<script>
    function setCookie(cookieName, cookieValue, expirationDays) {
      let d = new Date();
      d.setTime(d.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
    }
    
    async function login(event) {
      event.preventDefault();
      let username = document.getElementById("username").value;
      let password = document.getElementById("password").value;

      const loginAttempt = await fetch("/auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      })
     
      if (!loginAttempt.ok) {
        alert(`Login failed: ${loginAttempt.status}`)
        return
      }

      let returnedData = await loginAttempt.json()

      setCookie("media_authentication", returnedData.data.JWT, 7)
      alert("Login successful")
      
      document.location = `<%= redirectURL %>` || "/";
    }

    async function register(event) {
      event.preventDefault();
      let username = document.getElementById("username").value;
      let email = document.getElementById("email").value;
      let password = document.getElementById("password").value;
      let confirmPassword = document.getElementById("confirm-password").value;

      if (password !== confirmPassword) {
        alert("Passwords do not match")
        return
      }

      const registerAttempt = await fetch("/auth/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, email, password })
      })
      
      if (!registerAttempt.ok) {
        alert(`Registration failed: ${registerAttempt.status}`)
        return  
      }

      let returnedData = await registerAttempt.json()
      console.log(returnedData)
      alert("Registration successful")
      window.location = "/auth/login"
    }
</script>