<div class="h-max w-full flex flex-grow flex-col justify-center items-center">
	<h1 class="text-9xl font-extrabold text-black tracking-widest"><%= status %></h1>
	
  <h3><%= message %></h3>

  <button class="mt-5">
    <span class="relative block px-8 py-3 bg-[#fafbfd] border ">
      <a href="<%= action.url %>"><%= action.name %></a>
    </span>        
  </button>
    
</div>