<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>
<body>
  <h1>Routes</h1>
  <div class="nav">
    <div><a href="/media">Media</a></div>
    <div><a href="/posts">Posts</a></div>
    <div><a href="/upload">Upload</a></div>
  </div>
</body>
</html>