<div class="p-2">
    <h1 class="text-3xl text-yellow-500">Website under construction</h1>
    <p>Please be patient as I implement more pages and features.</p>
    <ul class="list-disc list-inside">
        Working features:
        <div class="pl-6">
            <li>Auth</li>
            <li>Chunked file uploading (for files larger then 50mb)</li>
            <li>Media</li>
            <div class="pl-6">
                <li>viewing</li>
                <li>searching</li>
                <li>commenting</li>
                <li>uploading</li>
            </div>  

            <li>Voting on:</li>
            <div class="pl-6">
                <li>Media</li>
                <!-- <li></li> -->
            </div>
            <li>Favoriting media (Doesn't separate media from non-favorites currently)</li>
        </div>
    </ul>
    <br>
    <ol class="list-decimal list-inside">
        5 Next planned features (priority order):
        <div class="pl-6">
            <li>Pool creation</li>
            <li>User profile page</li>
            <li>Pool creation</li>
            <li>Pool searching</li>
            <li>Pool commenting</li>
            <li>everything else...</li>
        </div>
    </ol>
    <br>

    <div>
        <h1 class="">Auth</h1>
        <div class="pl-12">
            <a href="/auth/login" class="text-xl text-blue-600 hover:text-blue-400">Login</a>
            <br>
            <a href="/auth/register" class="text-xl text-blue-600 hover:text-blue-400">Register</a>
        </div>
    </div>
    <div>
        <h1 class="">Search</h1>
        <div class="pl-12">
            <a href="/search-media" class="text-xl text-blue-600 hover:text-blue-400">Media</a>
            <br>
            <a href="/search-pools" class="text-xl text-blue-600 hover:text-blue-400">Pools</a>
            <!-- <br> -->
            <p href="/search-users" class="text-xl text-red-600 line-through">Users</p> <!-- TODO: implement users search -->
        </div>
    </div>
    <div>
        <h1 class="">Upload</h1>
        <div class="pl-12">
            <a href="/upload" class="text-xl text-blue-600 hover:text-blue-400">File</a>
            <br>
            <p class="text-xl text-red-600 line-through">Pool</p> 
            <!-- <a href="/create-pool" class="text-xl text-blue-600 hover:text-blue-400">Pool</a> -->
        </div>
    </div>
    <div>
        <h1 class="">Users</h1>
        <div class="pl-12">
            <p href="/users" class="text-xl text-red-600 line-through">Users</p> <!-- TODO: implement users page -->
        </div>
    </div>
</div>
