<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beth Kavod Storage</title>
</head>
<bod>
  <h1>Welcome to Beth Kavod!</h1>
  <!-- <dir dir="C:\Users\17197\Documents\software\Express-Media-Storage\public\files">Hello</dir> -->
  <!-- <video controls="true">
    <source src="/view/video/SampleVideo_1280x720_30mb.mp4?mimetype=video" type="video/mp4">
  </video> -->
  <img src="/view/image/2024-04-20-030944.jpg?mimetype=image" alt="">
</bod>
</html>