<div>
    <h1 class="">Auth</h1>
    <div class="pl-12">
        <a href="/auth/login" class="text-xl text-blue-600 hover:text-blue-400">Login</a>
        |
        <a href="/auth/register" class="text-xl text-blue-600 hover:text-blue-400">Register</a>
    </div>
</div>
<div>
    <h1 class="">View</h1>
    <div class="pl-12">
        <a href="/search-media" class="text-xl text-blue-600 hover:text-blue-400">Search</a>
        |
        <a href="/users" class="text-xl text-blue-600 hover:text-blue-400">Users</a>


    </div>
</div>
<div>
    <h1 class="">Upload</h1>
    <div class="pl-12">
        <a href="/upload" class="text-xl text-blue-600 hover:text-blue-400">Upload files</a>
    </div>
</div>
<div>
    <h1 class="">Users</h1>
    <div class="pl-12">
        <a href="/users" class="text-xl text-blue-600 hover:text-blue-400">Users</a>
    </div>
</div>
