<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Cloud Login</title>
</head>
<body>
  <h1>Login</h1>
  <div class="container">

    <hr>
    <form method="POST" onsubmit="login(event)">
      <div class="formGroup">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
      </div>
      <div class="formGroup">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
      </div>
      <input type="submit" value="Login">
      
    </form>
    <hr>
  </div>
  <script>
    function setCookie(cookieName, cookieValue, expirationDays) {
      let d = new Date();
      d.setTime(d.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
    }

    async function login(event) {
      event.preventDefault();
      let username = document.getElementById("username").value;
      let password = document.getElementById("password").value;

      const loginAttempt = await fetch("http://localhost:3000/auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      })
     
      if (!loginAttempt.ok) {
        alert("Login failed")
        return
      }

      let returnedData = await loginAttempt.json()

      setCookie("media_authentication", returnedData.data.JWT, 7)
      alert("Login successful")
      
      document.location = "/";
    }
  </script>
</body>
</html>