<h1 class="flex justify-center py-2">Search Media</h1> 

<%- include('./partials/form/searchMedia.ejs') %>
<div>
    <hr class="my-4 border">
    
    <%- include('./partials/form/pagination.ejs', { response }) %>

    <hr class="my-4 border">
    
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 p-8">
        <!-- Finish file display -->
        <% if (searchResults.length) { %>
            <% searchResults.map(data => { %>
                <div class="mb-8">                                                    <!--! Finish thumbnail display -->
                    <%- include('./partials/mediaCard.ejs', { ...data, query, thumbnail: null }) %>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>


    <!-- I might use this for something else at some point -->
<!-- <div class='max-w-md mx-auto'>
    <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
        <input
        class="peer h-full w-full outline-none text-sm text-gray-700 px-2"
        type="text"
        id="search"
        placeholder="Search something..." /> 

        <div class="grid place-items-center h-full w-12 text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>
    </div>
</div> -->