<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Upload files</title>
</head>
<body>
  <h1>Upload routes</h1>
  <div class="container" style="margin-bottom: 30px">
    <hr>
    <form onsubmit="uploadFiles(event)" enctype="multipart/form-data">
      <h2>Upload files</h2>
      <div class="formGroup">
        <label for="files">Files:</label>
        <input id="file0" name="file0" type="file">
      </div>
      <div class="formGroup">
        <label for="date">Date:</label>
        <input id="date0" name="date0" type="date">
      </div>
      <input type="submit">
    </form>
    <hr>
  </div>
  <div class="backButton">
    <a href="/">Back</a>
  </div>

  <script>
    async function uploadFiles(event) {
      event.preventDefault()

      const formData = new FormData(event.target)

      const uploadRequest = await fetch("http://localhost:3000/file/upload", {
        method: "POST",
        headers: {
          // for some reason I have to NOT send this header... wack
          // "Content-Type": "multipart/form-data",
        },
        body: formData
      })

      const returnedJson = await uploadRequest.json()

      if (!uploadRequest.ok) {
        alert("Upload failed")
        return
      }

      if (returnedData?.success) {
        alert("Upload successful")
        window.location.href = "/"
      } else {
        alert("Upload failed")
      }
    }
  </script>
</body>
</html>