<div class="flex flex-col items-center justify-center">
  <!-- <div class="header h-12 "> -->
      <h1 class="py-2">Upload Files</h1>
  <!-- </div> -->
<%- include('./partials/form/fileUploadForm.ejs') %>
</div>