<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Upload files</title>
</head>
<body>
  <div class="container">
    <hr>
    <form method="POST" onsubmit="uploadFiles(event)">
      <h1>Upload files</h1>
      <div class="formGroup">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
      </div>
      <div class="formGroup">
        <label for="files">Files:</label>
        <input id="files" name="files" type="file" multiple>
      </div>
      <div class="formGroup">
        <label for="date">Date:</label>
        <input id="date" name="date" type="date">
      </div>
      <input type="submit">
    </form>
    <hr>
  </div>

  <script>
    const JWT = localStorage.getItem("JWT-Test")

    if (!JWT) {
      const newToken = prompt("Enter your JWT")
      localStorage.setItem("JWT-Test", newToken)
    }

    async function uploadFiles(event) {
      event.preventDefault()
      console.log(new FormData(event.target))
      return 

      const formData = new FormData(event.target)
      const uploadRequest = await fetch("http://localhost:3000/file/upload", {
        method: "POST",
        headers: {
          "Content-Type": "multipart/form-data",
          "Authorization": JWT
        },
        body: formData
      })

      const returnedJson = await uploadRequest.json()

      console.log(returnedJson)
    }
  </script>
</body>
</html>