<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Upload files</title>
</head>
<body>
  <h1>Upload routes</h1>
  <div class="container" style="margin-bottom: 30px">
    <hr>
    <form method="POST" onsubmit="uploadFiles(event)" enctype="multipart/form-data">
      <h2>Upload files</h2>
      <div class="formGroup">
        <label for="files">Files:</label>
        <input id="files" name="files" type="file" multiple>
      </div>
      <div class="formGroup">
        <label for="date">Date:</label>
        <input id="date" name="date" type="date">
      </div>
      <input type="submit">
    </form>
    <hr>
  </div>
  <div style="text-align: center; font-size: xx-large;">
    <a href="/">Back</a>
  </div>

  <script>
    const JWT = localStorage.getItem("JWT-Test")

    if (!JWT) {
      const newToken = prompt("Enter your JWT")
      localStorage.setItem("JWT-Test", newToken)
    }

    async function uploadFiles(event) {
      event.preventDefault()

      const formData = new FormData(event.target)

      const uploadRequest = await fetch("http://localhost:3000/file/upload", {
        method: "POST",
        headers: {
          // for some reason I have to NOT send this header... wack
          // "Content-Type": "multipart/form-data",
          "authorization": JWT
        },
        body: formData
      })

      const returnedJson = await uploadRequest.json()

      console.log(returnedJson)
    }
  </script>
</body>
</html>