

<div class="md:w-1/2 px-3 mb-3">
  <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="pool">
    Pool
  </label>
  <div class="relative">
    <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" id="pool" name="pool">
      <option value="any">Any</option>
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select>
  </div>
</div>