<div class="md:w-1/2 -mx-3 flex mb-2 flex-col">
    <div class="pl-3 mb-3 md:mb-0 relative">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="add-username">
            Users
        </label>
        <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 pr-10" id="add-username" type="text" placeholder="JohnDoe123">
        <img class="absolute right-4 top-9 transform -translate-y-0.5 cursor-pointer size-8" onclick="addUser(event)" src='./icons/plus-symbol.svg' alt="Add username icon">
    </div>
    <div class="md:w-1/2 px-3 mb-3 md:mb-0 flex items-center flex-wrap h-auto flex-row mt-2" id="display-username">
        <input id="username" name="username" value="<%= query.usernames %>" type="hidden"/> <!--! Make multiple user searching possible in the future -->
    </div>
</div>

<script>
    // TODO: Fix the username and tag fields to update with user input.  I don't know why they won't
    // Make the search find the media with a user
    const displayUsernames = document.getElementById('display-username')
    const queryUsernames = "<%= query.usernames %>"
    if (usernameArray) {
        const usernameArray = queryUsernames.split(',')
        usernameArray.forEach(username => displayTags.innerHTML += `<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">${username}</span>`)
    }

    function addUser(event) {
        const inputUsername = document.getElementById('add-username')
        const username = inputUsername.value
        const hiddenUsernames = document.getElementById('username')

        if (!usernameArray.includes(username) && username != '' && usernameArray.length < 1) { /* ! Make multiple user searching possible in the future */
            displayUsernames.innerHTML += `<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">${username}</span>`
            usernamesArray.push(username)
            hiddenUsernames.value = usernameArray.join(',')
            inputUsername.value = ''
        }
    }
</script>