<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Story</title>
</head>
<body>
    <div>
        <%- include('../partials/header.ejs') %>
        <main class="container mx-auto bg-slate-200 p-2 border-x-2">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>