<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Story</title>
</head>
<body>
    <!-- TODO: Change this to actually tell if user is loggedIn -->
    <%- include('../partials/header.ejs', { loggedIn: true }) %>
    <main class="container mx-auto bg-slate-200 border-x-2 border-slate-300 min-h-[calc(100vh-128px)] max-h-fit">
        <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>